.customs-container {
    padding: 72px 16px 93px;
  background: var(--gray);
  min-height: 100vh;
  text-align: center;

  .customs-title {
    font-size: 24px;
    font-family: var(--f-bold);
    margin-bottom: 16px;
    color: var(--text);
  }

  .table-wrapper {
    overflow-x: auto;
  }

  .customs-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--bg);
    border-radius: 16px;
    overflow: hidden;
    background: var(--gray);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    .customs-th {
      background: var(--bg);
      font-weight: 600;
      padding: 10px;
      border-bottom: 1px solid var(--text);
      color: var(--text);
      font-size: 18px;
    }

    .customs-td {
      padding: 8px;
      border-bottom: 1px solid var(--bg);
      font-size: 16px;
      color: var(--text);
    }

    // .customs-tr {
    //   transition: bckgrd 0.2s ease;

    //   &:hover {
    //     background: #f9fafb;
    //   }
    // }
  }
}
