.numbers_container {
    padding: 72px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 600;
        color: var(--text2);
        font-size: 24px;
        text-align: center;
        font-family: var(--f-bold);
    }

    .number_container_inner {
        max-width: 1024px;
        min-width: 340px;
        width: 100%;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .num_section {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 6px;
            border-radius: 16px;
            background: var(--color-primary);

            .num_sec_top {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 6px;
                font-weight: 600;

                p {
                    font-family: var(--f-Medium);
                    padding-left: 16px;
                    font-size: 18px;
                }
            }

            .num_sec_bottom {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .bottom_nums {
                    width: 100%;
                    display: flex;

                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    position: relative;

                    a {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        color: var(--text2);
                        padding: 12px 16px;
                        margin: 3px;
                        background: var(--text);
                        font-family: var(--f-bold);
                        border-radius: 8px;
                        font-size: 18px;
                    }

                    .social_media1 {
                        background: #33ade6;
                        width: 200px;
                    }

                    .social_media2 {
                        background: #33e66c;
                        width: 200px;
                    }

                    // .whatsapp_icon {
                    //     width: auto;
                    //     box-shadow: none;
                    //     border-radius: 0;
                    //     padding: 6px;
                    //     background: transparent;
                    //     position: absolute;
                    //     right: 0;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    // }
                }
            }
        }
    }


    .social {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: var(--f-Medium);

        .social_media_container {
            display: flex;

            a {
                background: var(--text);
                height: 40px;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                transition: all .1s ease;
                margin: 8px;
                padding: 8px 12px;
                background: var(--color-primary);
                border-radius: 16px;

                span {
                    text-decoration: none;
                    color: var(--text);
                }

                img {
                    width: 30px;
                }
            }
        }

        .web_div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            font-family: var(--f-Medium);

            a {
                text-decoration: none;
                color: var(--text);
                width: fit-content;
                height: 36px;
                padding: 10px;
                background-color: var(--text);
                border-radius: 16px;
            }


        }

    }


    // .author {
    //     padding-top: 16px;
    //     color: var(--text);
    //     font-size: 12px;
    //     text-align: center;
    //     font-family: var(--f-Medium);

    // }
}