.header {
    width: 100%;
    height: calc(56px + env(safe-area-inset-bottom));
    backdrop-filter: blur(25px);
    position: fixed;
    background: var(--color-primary);
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--text);
    font-family: var(--f-bold);

    .logo {
        width: 65px;
        padding-left: 16px;
        display: flex;
    }

}