:root {
    --f-light: "Light";
    --f-Medium: "Medium";
    --f-bold: "Bold";
    --orange: #D9832C;
    --bg: #49496b;
    --text: #ececec;
    --text2: #0a163c;
    --color-primary: #0a163c;
}

// Fonts
@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('./assets/fonts/MontserratAlternates-Light.ttf') format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('./assets/fonts/MontserratAlternates-Medium.ttf') format("OpenType");
    font-weight: normal;
    font-style: normal;
}

// Styles
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--f-bold);
}

html,
body,
#root {
    overflow-x: hidden;
    width: 100%;
    background: var(--bg);
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;

    ::-webkit-scrollbar {
        display: none;
    }

}

.main-wrapper {
    height: calc(var(--vh, 1vh) * 100);
}

.install-btn {
    width: 260px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    color: var(--text);
    font-weight: 600;
    border-radius: 12px;
    padding: 8px 16px;
    z-index: 9999999;
}

