.bottom-nav {
    width: auto;
    height: auto;
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .nav-button {
        background: var(--color-primary);
        padding: 16px;
        width: 50px;
        margin-bottom: 10px;
        border-radius: 16px 0 0 16px;
        transition: all .1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        &:active {
            color: var(--orange);
        }

        .span {
            width: 30px;
            height: 23px;
            min-width: 20px;
        }
    }


    .nav-button.active {
        span {
            path {
                fill: var(--orange);
            }
        }
    }

    .price {
        span {
            font-weight: 800;
        }
    }
}